*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 90vh;
    align-items: center;
    justify-content: center;
    background-color: #ffb4b4;
    display: flex;
}

h1{
    font-size: 2rem;
    color: #fff;
}
span{
    color: yellowgreen;
    font-size: 3rem;
    font-weight: 700;
    position: relative;
}
span::before{
    content: '';
    position: absolute;
    height: 30px;
    width: 2px;
    background: yellowgreen;
    right: -8px;
    top: 50%;
    transform:translateY(-45%) ;
}